[Desktop Entry]
Type=Application
Name=Attack Shark X11
Comment=Custom native control panel for mouse Attack Shark X11
Exec=attackshark-x11
Icon=attackshark-x11
Terminal=false
Categories=Settings;Utility;